name: Continuous Integration
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - "*"
jobs:
  tests:
    runs-on: ubuntu-22.04
    steps:
      - name : Checkout repository
        uses: actions/checkout@v5
      - name: Set up UV
        uses: astral-sh/setup-uv@v6
      - name: Install dependencies
        run: |
          uv venv
          uv sync
      - name: Test with Pytest
        run: |
          uv run pytest

  build-docker-image:
    runs-on: ubuntu-22.04
    needs: tests # Ensure tests pass before building the Docker image
    steps:
      - name : Checkout repository
        uses: actions/checkout@v5
      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Build & Push Docker Image
        uses: docker/build-push-action@v6
        with:
          file: ./docker/Dockerfile
          platforms: linux/amd64 # Build for amd64 architecture only to avoid reaching time limits with GitHub Actions
          push: true
          tags: mjolif/football-game-tracking