name: Continuous Integration
on:
  push:
    branches: [ ${{ github.event.repository.default_branch }} ]
  pull_request:
    branches:
      - "*"
jobs:
  tests:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v5
      - uses: astral-sh/setup-uv@v6
      - name: Install dependencies
        run: |
          uv venv
          uv sync
      - name: Test with Pytest
        run: |
          uv run pytest
  build-docker-image:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v5
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Build
        uses: docker/build-push-action@v6
        with:
          file: ./docker/Dockerfile
          platforms: linux/amd64
          push: false
          tags: mjolif/football-game-tracking
